<h1>{{ day }}</h1>

<ul>
    {% for exercise in object_list %}
        <li>{{ exercise.time|date:"g:i a" }} : {{ exercise.exercise }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_day %}
	{% url 'exercise:archive_day' year=previous_day|date:'Y' month=previous_day|date:'b' day=previous_day|date:'d' as previous_day_url %}
	<a href="{{ previous_day_url }}">Previous Day: {{ previous_day }}</a>
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
	{% url 'exercise:archive_day' year=next_day|date:'Y' month=next_day|date:'b' day=next_day|date:'d' as next_day_url %}
	<a href="{{ next_day_url }}">Next Day: {{ next_day }}</a>
    {% endif %}
</p>
