<h1>{{ day }}</h1>

<ul>
    {% for exercise in object_list %}
        <li>{{ exercise.time|date:"g:i a" }} : {{ exercise.exercise }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_day %}
        Previous Day: {{ previous_day }}
	{% comment %}
	<a href="{% url 'exercise:archive_day' previous_day.strftime('%Y/%b/%d') %}">Previous Day: {{ previous_day }}</a>
	{% endcomment %}
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
        Next Day: {{ next_day }}
	{% comment %}
	<a href="{% url 'exercise:archive_day' next_day.strftime('%Y/%b/%d') %}">Next Day: {{ next_day }}</a>
	{% endcomment %}
    {% endif %}
</p>
